.sample-box {
    width:100px;
    height: 100px;
}

.Coral { background-color: #ff7f50; }

.flex-center {
    display: flex;
    text-align: center;
}

.margin-align{
    margin: 0 auto;
}

.padding-8 {
    padding: 8px 8px 8px 8px;
    
}

.margin-8 {
    margin: 8px 8px 8px 8px;
    
}

.border-box{
    box-sizing: border-box;
}

.border-8 {
    border: 8px solid blue;
}